<h2>Welcome to the <%= @gallery.name %> Gallery</h2>
<p>Proudly owned by <%= @gallery.user.email %> </p>

<p><%= @gallery.description %></p>
<p><%= link_to "Edit a gallery", "/galleries/#{@gallery.id}/edit" %></p>

<!-- rails is being nice to us, it will parse this to run a delete as a result of our action -->
<p><%= link_to "Delete gallery", "/galleries/#{@gallery.id}", method: :delete %> </p>
