<h2>Welcome to the <%= @gallery.name %> Gallery</h2>
<p>Proudly owned by <%= @gallery.user.email %>
<p>
	 <% if current_user.id == @gallery.user.id %></p>

	 	<p><%= link_to "Edit gallery", [:edit, @gallery] %></p>

	 	<p><%= link_to "Delete gallery", @gallery, method: :delete %> </p>

  		<p><%= link_to "Add an image", [:new, @gallery, :image]%>	</p> 	
	 <% end %>
</p>

<% @gallery.images.each do |image| %>

	<%= link_to(image) do %>
		<%= image_tag image.url %>
	
		
	<%end%>

		<p> <%= link_to "Delete this image", [@gallery, image], method: :delete %></p>
		<p>Created at <%= time_ago_in_words image.created_at %> ago</p>
<% end %>

