<h2>Showing Image Number <%= @image.id %></h2>
<div class="roomy">
	<% if !current_user.liked_images.include?@image%>
		<%= button_to "Like this image", [@image, :like ] %>
	<%else%>
		<%= button_to "Unlike this image", [@image, :like], method: :delete %>
	<%end%></div>

<div class="roomy">
	<% if !@image.tags %>
		This image has no tags
	<% else%>
		Tags: <% @image_tags.each do |tag| %>
			<%= tag.tag_name %> 
		<%end%>
	<%end%>
</div>

<div class="roomy">
	<%= pluralize @image.likes.count, "Like" %>
</div>

	<img src="<%= @image.url %>" >

	<!-- Add this image to one or more groups -->
	<%= form_for @image do |form| %>
		<%=form.label "Groups"%>
		<%= form.collection_check_boxes :group_ids, @groups, :id, :name%>
		<%=form.submit "Add this image to selected group(s)"%>
	<%end%>

<div>

	<!-- Even though this is for creating a comment, and is passing *to* the *comments* controller, -->
	<!-- this form only knows where it came from, which is the *images* controller-->
	<!-- so the *new* method for this form has to be defined in the *images* controller -->
	<!-- The comments controller will "catch" the output of this form via the create method, and the strong params-->
	<!-- associate the comment with an image, uses the array to build the url -->

	<!-- COMMENTS FORM -->
	<%= form_for [@image, @comment] do |f| %> 

	 <%= render "error_messages", target: @comment %>

	 <%= f.label :body, "Comment on this image:" %>
	 <%= f.text_area :body %>
	 <%= f.submit "submit"%>

	<% end %>

	<ul>
	<% @comments.each do |comment| %>
		<li>
			<p><%= comment.body %></p>
			<p><%= time_ago_in_words comment.created_at %> ago</p>
			<p>Written by: <%= comment.user.email %></p>
		</li>

	<% end %>
	</ul>
	</div>

<!-- TAGS FORM -->

	<div>
	<%= form_for @image do |f| %>
		<%= f.label :tag_list, "Add tags"%>
		<%= f.text_field :tag_list %>
		<%= f.submit "Add" %>
	<% end %>

</div>