<h2>Cool Image Number <%= @image.id %></h2>

<img src="<%= @image.url %>" >
<%= link_to "Back to Gallery", :back %>
<p>
<!-- Even though this is for creating a comment, and is passing *to* the *comments* controller, -->
<!-- this form only knows where it came from, which is the *images* controller-->
<!-- so the *new* method for this form has to be defined in the *images* controller -->
<!-- The comments controller will "catch" the output of this form via the create method, and the strong params-->
<%= form_for [@image, @comment] do |f| %> <!-- associate the comment with an image, uses the array to build the url -->
 <%= render "error_messages", target: @comment %>
 <%= f.label :body %>
 <%= f.text_area :body %>
 <%= f.submit "submit"%>
<% end %>


<ul>
<% @comments.each do |comment| %>
	<li>
		<p><%= comment.body %></p>
		<p><%= time_ago_in_words comment.created_at %> ago</p>
		<p>Written by: <%= comment.user.email %></p>
	</li>

<% end %>
</ul>
</p>